csv 파일
- 쉼표로 열을 구분
- 줄바꿈으로 행을 구분
- 텍스트 파일
- pandas.read_csv("파일 경로(이름)")

In [5]:
#<예제2-1> CSV 파일 읽기

import pandas as pd

# 파일 경로
file_path = "./read_csv_sample.csv"

# read_csv로 데이터프레임 변환
# df1 에 저장
# header 옵션이 없을경우 첫 행이 열 이름이 된다.
df1 = pd.read_csv(file_path)
print(df1)

print("\n")

# header = None 옵션 
# 정수형 열 번호 사용
df2 = pd.read_csv(file_path, header = None)
print(df2)

print("\n")

# index_col = None 옵션 
# index_col 옵션이 없을경우 정수형 위치 인덱스 사용
df3 = pd.read_csv(file_path, index_col = None)
print(df3)

print("\n")

# index_col = "열 이름"
# 해당 열이 행 인덱스가 된다.
df4 = pd.read_csv(file_path, index_col = "c0")
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

Excel 파일
- pandas.read_excel("파일 경로(이름)")
- CSV와 비슷하게 옵션 사용

In [6]:
#<예제2-2> Excel 파일 읽기

import pandas as pd

df1 = pd.read_excel("./남북한발전전력량.xlsx")
# header = 0 default 옵션 -> 첫 행이 열 이름이 된다.
print(df1)

print("\n")

df2 = pd.read_excel("./남북한발전전력량.xlsx",header = None)
# header = None 옵션 -> 정수형 열 번호 사용
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

JON 파일
- 데이터 공유를 목적
- "key : value" 구조
- pandas.read_json("파일 경로(이름)")

In [7]:
#<예제2-3> JSON 파일 읽기

import pandas as pd

df = pd.read_json("./read_json_sample.json")
print(df)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True