In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print("신씨가 소리질렀다. \"도둑이야.\"")

신씨가 소리질렀다. "도둑이야."

In [5]:
print("C:\Windows")

C:\Windows

In [6]:
print("안녕하세요\n만나서\t\t반갑습니다.")

안녕하세요
만나서		반갑습니다.

In [7]:
print("오늘은","일요일")

오늘은 일요일

In [2]:
print("naver;kakao;sk;Samsung")

naver;kakao;sk;Samsung

In [4]:
print("naver\\kakao\\sk\\Samsung")

naver\kakao\sk\Samsung

In [1]:
print("first",end="");print("second")

firstsecond

In [7]:
string = "dk2dadsfnjsdflk;nsaf;s"
print(len(string))

22

In [8]:
a = "3"
b = "4"
print(a+b)

34

In [10]:
s = "Hello"
t = "python"
new = s + "! " + t
print(new)

Hello! python

In [12]:
print("hi"*3)

hihihi

In [13]:
print("-"*80)

--------------------------------------------------------------------------------

In [14]:
t1 = "python"
t2 = "java"
print((t1+t2)*3)

pythonjavapythonjavapythonjava

In [15]:
print(20000*10)

200000

In [16]:
print(2+2*3)

8

In [2]:
a = 128
print(type(a))
b= "132"
print(type(b))

<class 'int'>
<class 'str'>

In [3]:
num_str = "720"
num = int(num_str)
print(type(num))

<class 'int'>

In [4]:
num = 100
num_str = str(num)
print(type(num_str))

<class 'str'>

In [19]:
lang = "python"
print(lang[0]+lang[2])

pt

In [20]:
license_plate = "24 가 2210"
print(license_plate[-4:])

2210

In [22]:
string = "홀짝홀짝홀짝"
print(string[0]+string[2]+string[4])

홀홀홀

In [5]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [24]:
phone_number = "010-6302-6304"
print(phone_number.replace("-"," "))

010 6302 6304

In [25]:
phone_number = "010-6302-6304"
print(phone_number.replace("-",""))

01063026304

In [27]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [28]:
lang = "python"
lang[0] = "p"
print(lang)

TypeError: 'str' object does not support item assignment

In [29]:
string = "abcdf2a3a3a"
print(string.replace("a","A"))

Abcdf2A3A3A

In [30]:
str = "abcd"
str.replce("b","B")
print(str)

AttributeError: 'str' object has no attribute 'replce'

In [1]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [2]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [3]:
movie_rank = ["닥터 스트레인지", " 스플릿", "럭키", "배트맨"]
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', ' 스플릿', '럭키', '배트맨']

In [6]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', ' 스플릿', '럭키', '배트맨']
del movie_rank[-2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', ' 스플릿', '배트맨']

In [7]:
movie_rank = ["닥터 스트레인지", "슈퍼맨", "스플릿", "배트맨"]
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [8]:
lang1 = ["c", "c++", "java"]
lang2 = ["python", "go", "c#"]
langs = lang1 + lang2
print(langs)

['c', 'c++', 'java', 'python', 'go', 'c#']

In [9]:
nums = [1,2,3,4,5,6,7]
print("max: " ,max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [11]:
nums = [1,2,3,4,5]
print(sum(nums))

15

In [20]:
cook = ["a", "b", "c"]
print(len(cook))

3

In [12]:
nums = [1,2,3,4,5]
print(sum(nums)/5)

3.0

In [22]:
price = ['20180728', 100, 130, 140, 150, 160, 170 ]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [23]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [24]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [27]:
nums = [1,2,3,4,5]
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]

In [17]:
interest = ["삼성전자", "LG전자", "NAVER"]
print(interest.pop(0), interest.pop())

삼성전자 NAVER

In [19]:
interest = ["삼성전자", "LG전자", "Naver", "SK하이닉스", "미래에셋대우"]
result = " ".join(interest)
print(result)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [22]:
interest = ["삼성전자", "LG전자", "Naver", "SK하이닉스", "미래에셋대우"]
result = "/".join(interest)
print(result)
print(type(result))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
<class 'str'>

In [24]:
interest = ["삼성전자", "LG전자", "Naver", "SK하이닉스", "미래에셋대우"]
result = "\n\n".join(interest)
print(result)

삼성전자

LG전자

Naver

SK하이닉스

미래에셋대우

In [56]:
string = "삼성전자/LG 전자/Naver"
interst = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'NAVER']

In [57]:
string = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미애에셋대우']

In [73]:
interest_0 = ["삼성전자", "LG전자", "SK하이닉스"]
interest_1 = interest_0
interest_1[0] = "naver"
print(interest_0) # ["naver", "LG전자", "SK하이닉스"]

['naver', 'LG전자', 'SK하이닉스']

In [76]:
interest_0 = ["삼성전자", "LG전자", "SK하이닉스"]
interest_1 = interest_0[:2]
interest_1[0] = "naver"
print(interest_0)

['삼성전자', 'LG전자', 'SK하이닉스']

In [77]:
my_variabl = ()

In [ ]:
t = (1,2,3)
t[0] = "a" # Error 발생 -> 튜플은 값을 변경할 수 없다

In [78]:
t = (1,)

In [79]:
t = 1,2,3,4
type(t)

tuple

In [87]:
t = ('a', 'b' ,'c')
t1 = tuple(str(t).upper())
t = t1[2::5]
print(t)

('A', 'B', 'C')

In [91]:
interest = ("삼성전자", "LG전자", "SK하이닉스")
interest = list(interest)
print(interest)

['삼성전자', 'LG전자', 'SK하이닉스']

In [92]:
interest = ["삼성전자" ," LG전자", "SK하이닉스"]
interest = tuple(interest)
print(interest)

('삼성전자', ' LG전자', 'SK하이닉스')

In [94]:
my_tuple = (1,2,3)
a,b,c = my_tuple
print(a+b+c) # 변수 지정?

6

In [95]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a,b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [97]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,b, *valid_scores = scores
print(valid_scores)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [98]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_scores,b = scores
print(valid_scores)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [99]:
temp = {}

In [100]:
icecream = {"메로나":1000, "폴라포":1200, "빵빠레":1800}

In [103]:
icecream = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
icecream.update({"죠스바":1200, "월드콘":1500})
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [104]:
icecream = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
ice = "메로나"
print(f'{ice}'+" 가격:" , icecream[ice])

메로나 가격: 1000

In [105]:
icecream = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
del icecream["메로나"]
print(icecream)

{'폴라포': 1200, '빵빠레': 1800}

In [106]:
inventory = {"메로나":[300,20], "비비빅":[400,3], "죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [108]:
inventory = {"메로나":[300,20], "비비빅":[400,3], "죠스바":[250,100]}
print(inventory["메로나"][0],"원")

300 원

In [109]:
inventory = {"메로나":[300,20], "비비빅":[400,3], "죠스바":[250,100]}
print(inventory["메로나"][1],"개")

20 개

In [110]:
inventory = {"메로나":[300,20], "비비빅":[400,3], "죠스바":[250,100]}
inventory.update({"월드콘":[500,7]})
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [112]:
icecream = {"탱크보이":1200, "폴라포":1200, "빵빠레":1800, "월드콘": 1500, "메로나":1000}
icecream_name = list(icecream.keys())
print(icecream_name)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [113]:
icecream = {"탱크보이":1200, "폴라포":1200, "빵빠레":1800, "월드콘": 1500, "메로나":1000}
icecream_price = list(icecream.values())
print(icecream_price)

[1200, 1200, 1800, 1500, 1000]

In [115]:
icecream = {"탱크보이":1200, "폴라포":1200, "빵빠레":1800, "월드콘": 1500, "메로나":1000}
icecream_price = list(icecream.values())
print(icecream_price)

[1200, 1200, 1800, 1500, 1000]

In [118]:
icecream = {"탱크보이":1200, "폴라포":1200, "빵빠레":1800, "월드콘": 1500, "메로나":1000}
new_product = {"팥빙수": 2700, "아맛나": 1000}
iccecream = icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [45]:
keys = (["apple", "pear", "peach"])
vals = ([200,250,400])
result.keys() = keys
result.values()= vals

print(result)

SyntaxError: can't assign to function call (<ipython-input-45-8206f4b5e286>, line 3)

In [132]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = {date[0]:close_price[0], date[1]:close_price[1], date[2]: close_price[2], date[3]:close_price[3]}

In [1]:
print( 3==5 )
# False

False

In [2]:
print(3 < 5)
# True

True

In [3]:
x = 4
print(1 < x < 5)

True

In [4]:
print((3==3) and (4 != 3))
# True

True

In [5]:
# print( 3 => 4)
print(3 >= 4)

False

In [6]:
if 4<3 :
    print("Hello World")

In [7]:
if 4 < 3 :
    print("Hello World")
else:
    print("Hi, there")

Hi, there

In [9]:
if True : 
    print("1")
    print("2")
else:
    print("3")
print("4")

1
2
4

In [11]:
if True:
    if False:
        print("1")
        print("2")
    else:
        print("3")
else: 
    print("4")
print("5")

3
5

In [12]:
a = input()
print(a*2)

안녕하세요
안녕하세요안녕하세요

In [19]:
a = input("숫자를 입력하세요 : ")
print(int(a) + 10)

숫자를 입력하세요 : 30
40

In [21]:
a = input("숫자를 입력하세요 : ")
if (int(a) % 2) == 0:
    print("짝수")
else:
    print("홀수")

숫자를 입력하세요 : 30
짝수

In [25]:
a = input("입력값 : ")
if int(a) <= 235 :
    print(int(a) + 20)
else:
    print(255)

입력값 : 240
255

In [26]:
a = input("입력값 : ")
if 20 <= int(a) :
    print(int(a) -20 )
else:
    print(0)

입력값 : 200
180

In [28]:
a = input("현재시간 : ")
if a[3:] == "00":
    print("정각입니다")
else:
    print("정각이 아닙니다.")

현재시간 : 02:00
정각입니다

In [29]:
a = input("좋아하는 과일은? ")
fruit = ["사과", "포도", "홍시"]
if a in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 사과
정답입니다.

In [30]:
a = input("투자 종목을 입력하시오. ")
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
if a in warn_investment_list:
    print("투자 경고 종목입니다.")
else: 
    print("투자 경고 종목이 아닙니다")

투자 종목을 입력하시오. Microsoft
투자 경고 종목입니다.

In [31]:
fruit = {"봄":"딸기", "여름":"토마토", "가을":"사과"}
a = input("제가 좋아하는 계절은 : ")
if a in fruit.keys():
    print("정답입니다.")
else: 
    print("오답입니다.")

제가 좋아하는 계절은 : 봄
정답입니다.

In [32]:
fruit = {"봄":"딸기", "여름":"토마토", "가을":"사과"}
a = input("제가 좋아하는 과일은 : ")
if a in fruit.values():
    print("정답입니다.")
else: 
    print("오답입니다.")

제가 좋아하는 과일은 : 한라봉
오답입니다.

In [36]:
a = input("알파벳 : ")
if a.islower():
    print(a.upper())
else:
    print(a.lower())

알파벳 : a
A

In [1]:
score = input("score: ")
score = int(score)
if 0 <= score <= 20:
    grade = "E"
elif 21 <= score <= 40:
    grade = "D"
elif 41 <= score <= 60:
    grade = "C"
elif 61 <= score <= 80:
    grade = "B"
else:
    grade = "A"

print("grade is ", grade)

score: 83
grade is  A

In [7]:
money_input = input("입력: ").split(" ")

amount = money_input[0]
money_rate = money_input[1]

if money_rate == "달러":
    money = int(amount)*1167
elif money_rate == "엔":
    money = int(amount)*1.096
elif money_rate == "유로":
    money = int(amount)*1268
elif money_rate == "위안":
    money = int(amount)*171

print(money, "원")

입력: 100 달러
116700 원

In [2]:
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

num_list = [num1,num2,num3]

print("가장 큰 수:" , max(num_list))

input number1: 10
input number2: 9
input number3: 20
가장 큰 수: 20

In [4]:
number = input("휴대전화 번호 입력: ")
number_center = str(number[0:3])

if number_center == "011":
    center = "SKT"
elif number_center == "016":
    center = "KT"
elif number_center == "019":
    center = "LGU"
elif number_center == "010":
    center = "알수없음"
    
print(f'당신은 {center} 사용자입니다.')

휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

In [8]:
number = int(input("우편번호: ")[2])

if number < 3:
    location = "강북구"
elif 3 <= number < 6:
    location = "도봉구"
elif 6 <=number <= 9:
    location = "노원구"

print(location)

우편번호: 01300
도봉구

In [9]:
number = int(input("주민등록번호: ")[7])

if number % 2 == 0:
    gender = "여자"
elif number % 2 ==1:
    gender = "남자"
    
print(gender)

주민등록번호: 821010-1635210
남자

In [10]:
number = int(input("주민등록번호: ")[8:10])

if 0 <= number < 9:
    location = "서울 입니다."
else:
    location = "서울이 아닙니다."
    
print(location)

주민등록번호: 821010-1635210
서울이 아닙니다.

In [2]:
number = input("주민등록번호: ")

number_check = int(number[0])*2 + int(number[1])*3 + int(number[2])*4 + int(number[3])*5 + int(number[4])*6 + int(number[5])*7 + int(number[7])* 8 +  int(number[8])*9 + int(number[9])*2 + int(number[10])*3 + int(number[11])*4 + int(number[12])*5
number_check2 = 11- (number_check%11) 


if number_check2 == int(number[-1]):
    print("유효한 주민등록 번호 입니다.")
else:
    print("유효하지 않은 주민등록 번호 입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록 번호 입니다.

In [8]:
# 비트코인의 가격 정보를 딕셔너리로 가져오는 코드
'''
import requests

btc = request.get("https:api.bithumb.com/public/ticker/").json()['data']
'''

btc = {"opening_price":1000, "closing_price": 2000, "min_price" : 500, "max_price" : 3000}

index = (btc["max_price"]-btc["min_price"])+btc["opening_price"]

if index > btc["max_price"]:
    print("상승장")
elif index <= btc["max_price"]:
    print("하락장")

상승장

In [1]:
for i in ["가" ,"나", "다", "라"]:
    print(i)

가
나
다
라

In [2]:
for i in ["사과", "귤", "수박"]:
    print(i)

사과
귤
수박

In [4]:
for i in ["사과", "귤", "수박"]:
    print(i)
    print("--")

사과
--
귤
--
수박
--

In [5]:
for i in ["사과", "귤", "수박"]:
    print(i)
print("--")

사과
귤
수박
--

In [6]:
for i in ["김밥", "라면", "튀김"]:
    print("오늘의 메뉴 %s" % i)

오늘의 메뉴 김밥
오늘의 메뉴 라면
오늘의 메뉴 튀김

In [7]:
portfolio = ["SK 하이닉스", "삼성전자", "LG전자"]
for i in portfolio:
    print(i, " 보유중")

SK 하이닉스  보유중
삼성전자  보유중
LG전자  보유중

In [8]:
pets = ["dog", "cat" ,"parrot", "squirrel", "goldfish"]
for i in pets:
    print(i, len(i))

dog 3
cat 3
parrot 6
squirrel 8
goldfish 8

In [9]:
prices = [100,200,300]
for i in prices:
    print(i+10)

110
210
310

In [10]:
prices = ["129,300", "1,000", "2,300"]
for i in prices:
    i_list = i.split(",")
    i_result = int(i_list[0])*1000 + int(i_list[1])
    print(i_result)

129300
1000
2300

In [12]:
menu = ["면라", "밥김", "김튀"]
for i in menu:
    print(i[::-1])

라면
김밥
튀김

In [16]:
my_list = ["가", "나", "다", "라"]
for i in my_list[1:4]:
    print(i)

나
다
라

In [20]:
my_list = [1,2,3,4,5,6]
n = 0
for i in my_list:
    n = n +1
    if n % 2 == 0: continue
    print(i)

1
3
5

In [21]:
my_list = [1,2,3,4,5,6]
n = 0
for i in my_list:
    n = n+1
    if n % 2 != 0: continue
    print(i)

2
4
6

In [22]:
my_list = ["가", "나", "다", '라']
for i in my_list[::-1]:
    print(i)

라
다
나
가

In [23]:
my_list = [3,-20,-3,44]
for i in my_list:
    if i < 0 :
        print(i)
    else:
        pass

-20
-3

In [29]:
my_list = [3, 100, 23, 44]
for i in my_list:
    if i % 3 == 0:
        print(i)

3

In [28]:
my_list = ["I", "study", "python" ,"language", "!"]
for i in my_list:
    if len(i) >= 3 :
        print(i)

study
python
language

In [27]:
my_list = [3,1,7,10,5,6]
for i in my_list:
    if 5 < i < 10:
        print(i)

7
6

In [30]:
my_list = [13,21,12,14,30,18]
for i in my_list:
    if 10 < i < 20:
        if i % 3 == 0:
            print(i)

12
18

In [33]:
my_list = [3,1,7,12,5,16]
for i in my_list:
    if (i%3 == 0) or (i % 4 ==0): # 둘중 하나라도 참이면 참 = or
        print(i)

3
12
16

In [36]:
my_list = ["A", "b", "c", "D"]
for i in my_list:
    if i.isupper():
        print(i)

A
D

In [37]:
my_list = ["A", "b", "c", "D"]
for i in my_list:
    if i.islower():
        print(i)

b
c

In [39]:
my_list = ["A", "b", "c" ,"D"]
for i in my_list:
    if i.isupper():
        print(i.lower(), end="")
    elif i.islower():
        print(i.upper(), end= "")

aBCd

In [40]:
file_list = ["hello.py", "ex01.py", "ch02.py", "intro.hwp"]
for i in file_list:
    i_1 = i.split(".")
    print(i_1[0])

hello
ex01
ch02
intro

In [41]:
filenames = ["intra.h", "intra.c", "define.h", "run.py"]
for i in filenames:
    i_1 = i.split(".")
    if i_1[1] == "h":
        print(i)

intra.h
define.h

In [43]:
filenames = ["intra.h", "intra.c", "define.h", "run.py"]
for i in filenames:
    i_1 = i.split(".")
    if (i_1[1] == "h") or (i_1[1] == "c"):
        print(i)

intra.h
intra.c
define.h

In [45]:
my_list = [3,-20, -3, 44]
new_list = [i for i in my_list if i > 0]
print(new_list)

[3, 44]

In [47]:
my_list = ["A", "b", "c" ,"D"]
upper_list = [ i for i in my_list if i.isupper() ]
print(upper_list)

['A', 'D']

In [54]:
my_list = [3,4,4,5,6,6]
sole_list = []
for i in my_list:
    if i not in sole_list:
        sole_list.append(i)

print(sole_list)

[3, 4, 5, 6]

In [55]:
my_list = [3,4,5]
sum = 0
for i in my_list:
    sum = sum + i
    
print(sum)

12