데이터프레임

- 2차원 배열 or 행렬
- 행(row) 과 열(column)
- 리스트를 원소로 갖는 딕셔너리를 가지고 만든다.

In [3]:
#<예제1-4> 딕셔너리 -> 데이터프레임 변환

import pandas as pd

#열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원배열)
dict_data = {"c0":[1,2,3], "c1":[4,5,6], "c2":[7,8,9], "c3":[10,11,12], "c4":[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리 -> 데이터프레임 변환, 변수 df에 저장
df = pd.DataFrame(dict_data)

print(type(df))
print("\n")
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

행 인덱스/ 열 이름 설정
pandas.DataFrame( 2차원 배열,
                index = 행 인덱스 배열
                columns= 열 이름 배열)

In [12]:
#<예제1-5> 행 인덱스/ 열 이름 설정

import pandas as pd

df = pd.DataFrame([[15, "남", "덕영중"],[17, "여", "수리중"]],
                  index = ["준서","예은"],
                 columns = ["나이", "성별", "학교"])

print(df)
print("\n")
print(df.index) # 인덱스 출력
print("\n")
print(df.columns) # 열 이름 출력

# 행 인덱스, 열 이름 바꾸기
df.index = ["학생1","학생2"]
df.columns = ["연령","남녀","중학교"]

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')
     연령 남녀  중학교
학생1  15  남  덕영중
학생2  17  여  수리중

데이터프레임.rename() -> 행인덱스 또는 열 이름의 일부를 선택하여 변경 

*원본 객체 변경시 inplace = True 옵션

In [13]:
#<예제1-6> 행 인덱스/ 열 이름 변경

import pandas as pd

#  변경 전 데이터프레임 만들기
df = pd.DataFrame([[15,"남","덕영중"],[17,"여","수리중"]],
                 index = ["준서","예은"],
                 columns = ["나이","성별","학교"])

print(df)

# .rename()사용하여 준서 -> 학생1, 나이 -> 연령 으로 변경
df.rename(index = {"준서":"학생1"},inplace = True)
df.rename(columns = {"나이":"연령"},inplace = True)

print("\n")
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 성별   학교
학생1  15  남  덕영중
예은   17  여  수리중

데이터프레임.drop() -> 행 또는 열을 삭제

- 행 삭제 - axis = 0 
- 열 삭제 - axis = 1

*원본객체 변경시 inplace = True 옵션

In [14]:
#<예제1-7>행 삭제

import pandas as pd

df = pd.DataFrame([[90,98,85,100],[80,89,95,90],[70,95,100,90]],
                 index = ["서준","우현","인아"],
                 columns = ["수학","영어","음악","체육"])

print(df)

print("\n")

# "우현" 행 삭제
df.drop("우현",axis = 0,inplace = True)
print(df)

print("\n")

#"인아" 행 삭제
df.drop("인아",inplace = True) # axis = 0 생략 가능
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

In [16]:
#<예제1-8> 열 삭제
# 반드시 축 옵션 axis =1 사용

import pandas as pd

df = pd.DataFrame([[90,98,85,100],[80,89,95,90],[70,95,100,90]],
                 index = ["서준","우현","인아"],
                 columns = ["수학","영어","음악","체육"])

print(df)

print("\n")

# "수학" 열 삭제
df1 = df.drop("수학",axis = 1)

print(df1)

print("\n")

# "영어","음악" 열 삭제
df2 = df.drop(["영어","음악"],axis = 1)
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

데이터프레임.loc[] = 행 선택

- loc : 인덱스 이름 : 범위의 끝 포함
- iloc : 정수형 위치 인덱스 : 범위의 끝 제외

In [1]:
#<예제1-9> 행 삭제
import pandas as pd 

df = pd.DataFrame([[90,98,85,100],[80,89,95,90],[70,95,100,90]],
                 index = ["서준","우현","인아"],
                 columns = ["수학","영어","음악","체육"])
print(df)

print("\n")

# loc 사용하여 서준,우현 선택
index1 = df.loc["서준":"우현"]
print(index1)

print("\n")

# iloc 사용하여 서준, 우현 선택
index2 = df.iloc[0:2]
print(index2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

- 열 1개 선택

데이터프레임["열이름"] or 데이터프레임.열이름

- 열 n개 선택

데이터프레임[[열1, 열2, 열3, ... 열n]]

In [2]:
#<예제1-10> 열 선택
import pandas as pd

df = pd.DataFrame([["서준",90,98,85,100],["우현",80,89,95,90],["인아",70,95,100,90]],
                 columns = ["이름","수학","영어","음악","체육"])

print(df)

print("\n")

math = df["수학"]
print(math)

print("\n")

music_gym = df[["음악","체육"]]
print(music_gym)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


0    90
1    80
2    70
Name: 수학, dtype: int64


    음악   체육
0   85  100
1   95   90
2  100   90

원소 선택

- 인덱스 이름 : 데이터.loc[행이름,열이름]
- 정수형 위치 인덱스 : 데이터프레임.iloc[행번호,열번호]

In [3]:
#<예제1-11> 원소 선택
import pandas as pd

exam_data = {"이름":["서준","우현","인아"],
            "수학":[90,80,70],
            "영어":[98,89,95],
            "음악":[85,95,100],
            "체육":[100,90,90]}
df = pd.DataFrame(exam_data)

df.set_index("이름",inplace = True)
print(df)

a = df.loc["서준","음악"]
print(a)
b = df.iloc[0,2]
print(b)

print("\n")

#두개의 원소선택
c = df.loc["서준",["음악","체육"]]
print(c)
d = df.iloc[0,[2,3]]
print(d)
e = df.loc["서준","음악":"체육"]
print(e)
f = df.iloc[0,2:]
print(f)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
85
85


음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

열 추가
- 데이터프레임 객체["추가하려는 열 이름"] = 데이터 값

In [8]:
#<예제1-12> 열 추가

import pandas as pd

df = pd.DataFrame([["서준",90,98,85,100],["우현",800,89,95,90],["인아",70,95,100,90]],
            columns = ["이름","수학","영어","음악","체육"])

print(df)

print("\n")

df["국어"] = 80

print(df)

   이름   수학  영어   음악   체육
0  서준   90  98   85  100
1  우현  800  89   95   90
2  인아   70  95  100   90


   이름   수학  영어   음악   체육  국어
0  서준   90  98   85  100  80
1  우현  800  89   95   90  80
2  인아   70  95  100   90  80

행 추가
- 데이터프레임 객체.loc["새로운 행 이름"] = 데이터 값 (또는 배열)

In [10]:
#<예제1-13> 행 추가

import pandas as pd

df = pd.DataFrame([["서준",90,98,85,100],["우현",80,89,95,90],["인아",70,95,100,90]],
                columns = ["이름","수학","영어","음악","체육"])

print(df)

print("\n")

#데이터값이 0이고 이름이 3인 행 추가
df.loc[3]=0
print(df)

print("\n")

#데이터값이 여러개이고 이름이 4인 행 추가
df.loc[4] = ["동규",90,80,70,60]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

원소 값 변경
- 데이터프레임 객체의 일부분 또는 원소를 선택 = 새로운 값

In [12]:
#<예제1-14>원소 값 변경

import pandas as pd 

exam_data = {"이름":["서준","우현","인아"],
            "수학":[90,80,70],
            "영어":[98,89,95],
            "음악":[85,95,100],
            "체육":[100,90,90]}
df = pd.DataFrame(exam_data)
df.set_index("이름",inplace = True)

print(df)

print("\n")

df.loc["서준","체육"] = 80

print(df)

print("\n")

df.iloc[0][3] = 90

print(df)

print("\n")

df.iloc[0,3] = 100

print(df)

print("\n")

df.iloc[0,[2,3]] = 50

print(df)

print("\n")

df.loc["서준",["음악","체육"]] = 100,50

print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

행, 열의 위치 바꾸기
- 데이터프레임 객체.transpose() 또는 데이터프레임 객체.T

In [15]:
#<예제1-15> 행, 열의 위치 바꾸기

import pandas as pd

df= pd.DataFrame([["서준",90,98,85,100],
                 ["우현",80,89,95,90],
                 ["인아",70,95,100,90]],
                columns = ["이름","수학","영어","음악","체육"])
print(df)

print("\n")

df =  df.transpose()
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90