산술연산
- 3단계
    - 모든 원소를 정렬한다.
    - 일대일 대응
    - 연산 처리
- 대응되는 원소가 없으면 NaN 으로 처리

시리즈 VS 숫자
- 시리즈 객체 + 연산자(+, -, *, /) + 숫자

In [1]:
#<예제1-21> 시리즈를 숫자로 나누기

import pandas as pd

sr = pd.Series({"국어":100, "영여":80, "수학":90})

print(sr)

print("\n")

# sr 을 200로 나누기

sr_percent = sr / 200

print(sr_percent)

국어    100
영여     80
수학     90
dtype: int64


국어    0.50
영여    0.40
수학    0.45
dtype: float64

시리즈 VS 시리즈
- 시리즈1 + 연산자(+, -, *, /) + 시리즈2

In [3]:
#<예제1-22> 시리즈 사칙연산

import pandas as pd

sr1 = pd.Series({"국어":100, "영어":80, "수학":90})

print(sr1)

print("\n")

sr2 = pd.Series({"수학":80, "국어":90, "영어":80})

print(sr2)

add = sr1 + sr2
sub = sr1 - sr2
mul = sr1 * sr2
div = sr1 / sr2

result = pd.DataFrame([add,sub,mul,div],
                     index = ["덧셈","뺄셈","곱셈","나누기"])

print(result)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64
              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나누기     1.111111     1.125     1.0

시리즈 vs NaN
- 인덱스 값이 다를경우
- 데이터 값이 NaN일 경우

In [4]:
#<예제1-24> NaN값이 있는 시리즈 연산

import pandas as pd
import numpy as np

sr1 = pd.Series({"국어":np.nan, "영어":80, "수학":90})

print(sr1)

print("\n")

sr2 = pd.Series({"수학":80, "국어":90})

print(sr2)

print("\n")

add = sr1 + sr2
sub = sr1 - sr2
mul = sr1 * sr2
div = sr1 / sr2

result = pd.DataFrame([add,sub,mul,div],
                     index = ["덧셈","뺄셈","곱셈","나누기"])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나누기 NaN     1.125 NaN

연산 메소드
- 결과값에 NaN이 없게하기 위해
- 데이터1.연산자(데이터2, fill_value = 0)

In [5]:
#<예제1-24>연산 메소드 사용 - 시리즈 연산

import pandas as pd
import numpy as np

sr1 = pd.Series({"국어":np.nan, "영어":80, "수학":90})

print(sr1)

print("\n")

sr2 = pd.Series({"수학":80, "국어": 90})

print(sr2)

print("\n")

add = sr1.add(sr2,fill_value = 0)
sub = sr1.sub(sr2,fill_value = 0)
mul = sr1.mul(sr2,fill_value = 0)
div = sr1.div(sr2,fill_value = 0)

result = pd.DataFrame([add,sub,mul,div],
                     index = ["덧셈","뺄셈","곱셈","나누기"])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나누기   0.0     1.125   inf

데이터 프레임 연산
- 시리즈연산의 확장
- 정렬 -> 일대일 대응 -> 연산

데이터프레임 VS 숫자
- 데이터프레임 객체 + 연산자(+, -, *, /) + 숫자

In [7]:
#<예제1-25> 데이터프레임에 숫자 더하기

import pandas as pd
import seaborn as sns # seaborn 라이브러리의 데이터셋 을 쓰기 위해서

titanic = sns.load_dataset("titanic")
df = titanic.loc[:,["age","fare"]]
print(df.head()) # 첫 5행만 표시

print("\n")

add_df = df+10

print(add_df.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

데이터프레임 VS 데이터프레임
- 데이터프레임1 + 연산자(+, -, *, /) + 데이터프레임2

In [9]:
#예제<1-26> 데이터프레임 끼리 더하기

import pandas as pd
import seaborn as sns

titanic = sns.load_dataset("titanic")
df = titanic.loc[:,["age","fare"]]

print(df.head())

print("\n")

add_df = df + 10
print(add_df.head())

print("\n")

sub = add_df - df 
print(sub.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


    age  fare
0  10.0  10.0
1  10.0  10.0
2  10.0  10.0
3  10.0  10.0
4  10.0  10.0