함수 매핑
- 시리즈 또는 데이터프레임 <-> 특정 함수
    - 일대일 대응
        - 함수
        - 사용자가 직접만든 함수
        - 람다 함수 가능

개별 원소에 함수 매핑
- 시리즈 원소에 함수 매핑
    - 시리즈 객체.apply(매핑 함수)
        - 람다 함수도 가능

In [12]:
# <예제 6-1> 시리즈의 원소에 apply()적용

import seaborn as sns

titanic = sns.load_dataset("titanic")
df = titanic.loc[:,["age","fare"]]
df["ten"] = 10
print(df.head())

# 사용자 함수 정의
def add_10(n):
    return n + 10

def add_two_obj(a, b):
    return a+ b

# 시리즈 객체에 적용
sr = df["age"]
print(type(df["age"]))

sr1 = sr.apply(add_10)
print(sr1.head())

print("\n")

sr2 = sr.apply(add_two_obj, b = 10) # a = sr의 모든 원소
print(sr2.head())

print( "\n")

sr3 = sr.apply(lambda x: add_10(x)) # x = sr
print(sr3.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10
<class 'pandas.core.series.Series'>
0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64


0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64


0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

- 데이터프레임 원소에 함수 매핑
    - 데이터프레임 객체.applymap(매핑 함수)

In [13]:
# <예제 6-2> 데이터프레임 원소에 applymap() 적용

import seaborn as sns

titanic = sns.load_dataset("titanic")
df = titanic.loc[:,["age","fare"]]
print(df.head())

print("\n")

def add_10(n):
    return n+10

# 데이터 프레임 원소에 함수 적용
df1 = df.applymap(add_10)
print(df1.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

시리즈 객체에 함수 매핑
- 데이터프레임 각 열(시리즈)에 함수 매핑
    - 데이터프레임 객체.apply(매핑 함수, axis = 0)

In [19]:
# <예제 6-3> 데이터프레임에 appy(매핑 함수, axis = 0) 적용

import seaborn as sns
titanic = sns.load_dataset("titanic")
df = titanic.loc[:,["age","fare"]]
print(df.head())

def missing_value(series):
    return series.isnull()

# 함수 적용하기
df.apply(missing_value,axis = 0)

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

       age   fare
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
886  False  False
887  False  False
888   True  False
889  False  False
890  False  False

[891 rows x 2 columns]

- 데이터프레임 각 행에 함수 매핑
    - 데이터프레임 객체.apply(매핑 함수,axis = 1)

In [26]:
# <예제 6-5> 데이터프레임에 appy(매핑 함수, axis = 1) 적용

import seaborn as sns
titanic = sns.load_dataset("titanic")
df = titanic.loc[:,["age","fare"]]
print(df.head())

print("\n")

def add_two_obj(a,b):
    return a+b

# df의 행마다 함수적용하여 age + fare 를 "add"라는 새로운 열에 출력
df["add"] = df.apply(lambda x: add_two_obj(x["age"],x["fare"]),axis = 1)

print(df.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


    age     fare       add
0  22.0   7.2500   29.2500
1  38.0  71.2833  109.2833
2  26.0   7.9250   33.9250
3  35.0  53.1000   88.1000
4  35.0   8.0500   43.0500

데이터프레임 객체에 함수 매핑
- 데이터프레임 객체.pipe(매핑 함수)

In [30]:
#<예제 6-6> 데이터프레임에 pipe(매핑함수) 적용

import seaborn as sns
titanic = sns.load_dataset("titanic")
df = titanic.loc[:,["age","fare"]]

# 함수 생성
# 각열의 NaN 찾기
def missing_value(x):
    return x.isnull()

# 각 열의 NaN 개수 반환
def missing_count(x):
    return missing_value(x).sum()

#데이터프레임의 총 NaN 개수
def total_num_missing(x):
    return missing_count(x).sum()

# 데이터프레임에 함수 적용
result_df = df.pipe(missing_value)
print(result_df.head())

print("\n")

result_df = df.pipe(missing_count)
print(result_df.head())

print("\n")

result_df = df.pipe(total_num_missing)
print(result_df)

     age   fare
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False


age     177
fare      0
dtype: int64


177