필터링
- 데이터중 특정 조건식을 만족하는 원소만 따로 추출

불린 인덱싱
- 시리즈 객체에 조건식 적용 -> 불린 시리즈 반환
- 데이터프레임 객체[불린 시리즈]

In [27]:
# <예제 6-9> 불린 인덱싱

import seaborn as sns 
titanic = sns.load_dataset("titanic")

# 나이가 10대(10~19세)승객만 따로 선택
mask1 = (10<= titanic.age) & (titanic.age < 20) # 불린 시리즈
print(mask1)
df_teenage = titanic.loc[mask1,:] # mask1 에서True 만 추출
print(df_teenage.head())

print("\n")

# 나이가 10세 미만이고, 여성인 승객만 따로 선택
mask2 = (titanic.age < 10) & (titanic.sex == "female")
df_female_under10 = titanic.loc[mask2,:]
print(df_female_under10.head())

print("\n")

# 나이가 10세 미만 또는 60세 이상인 승객의 age,sex,alone 열만 선택
mask3 = (titanic.age< 10) | (titanic.age >= 60)
df_under10_morethan60 = titanic.loc[mask3,["age","sex","alone"]]
print(df_under10_morethan60.head())

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887     True
888    False
889    False
890    False
Name: age, Length: 891, dtype: bool
    survived  pclass     sex   age  sibsp  parch      fare embarked   class  \
9          1       2  female  14.0      1      0   30.0708        C  Second
14         0       3  female  14.0      0      0    7.8542        S   Third
22         1       3  female  15.0      0      0    8.0292        Q   Third
27         0       1    male  19.0      3      2  263.0000        S   First
38         0       3  female  18.0      2      0   18.0000        S   Third

      who  adult_male deck  embark_town alive  alone
9   child       False  NaN    Cherbourg   yes  False
14  child       False  NaN  Southampton    no   True
22  child       False  NaN   Queenstown   yes   True
27    man        True    C  Southampton    no  False
38  woman       False  NaN  Southampton    no  False


     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
10          1       3  female  4.0      1      1  16.7000        S   Third
24          0       3  female  8.0      3      1  21.0750        S   Third
43          1       2  female  3.0      1      2  41.5792        C  Second
58          1       2  female  5.0      1      2  27.7500        S  Second
119         0       3  female  2.0      4      2  31.2750        S   Third

       who  adult_male deck  embark_town alive  alone
10   child       False    G  Southampton   yes  False
24   child       False  NaN  Southampton    no  False
43   child       False  NaN    Cherbourg   yes  False
58   child       False  NaN  Southampton   yes  False
119  child       False  NaN  Southampton    no  False


     age     sex  alone
7    2.0    male  False
10   4.0  female  False
16   2.0    male  False
24   8.0  female  False
33  66.0    male   True

isin() 메소드 활용
- 데이터프레임 열 객체.isin(추출 값의 리스트)
    - 불린 시리즈 반환
- 데이터프레임 객체[불린시리즈] 
    - true에 해당한 행 추출
- 특정 값을 가진 행들을 따로 추출

In [30]:
# <예제 6-10> isin() 필터링
# titanic 데이터셋에서 sibsp 열이 3,4,5 인 행들을 추출

import seaborn as sns

titanic = sns.load_dataset("titanic")

isin_titanic = titanic["sibsp"].isin([3,4,5])
print(isin_titanic.head())
df_isin= titanic[isin_titanic]
print(df_isin.head())

0    False
1    False
2    False
3    False
4    False
Name: sibsp, dtype: bool
    survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
7          0       3    male   2.0      3      1   21.0750        S  Third
16         0       3    male   2.0      4      1   29.1250        Q  Third
24         0       3  female   8.0      3      1   21.0750        S  Third
27         0       1    male  19.0      3      2  263.0000        S  First
50         0       3    male   7.0      4      1   39.6875        S  Third

      who  adult_male deck  embark_town alive  alone
7   child       False  NaN  Southampton    no  False
16  child       False  NaN   Queenstown    no  False
24  child       False  NaN  Southampton    no  False
27    man        True    C  Southampton    no  False
50  child       False  NaN  Southampton    no  False